@import 'tailwindcss';

::selection {
  background-color: #BEB1FF;
  color: #0F0F10;
}

:root {
  --purple-dark: #7357FF;
  --purple: #8979F2;
  --purple-light: #BEB1FF;
  --white: #F1EEFF;
  --gray: #E6E4F2;
  --black: #0F0F10;
}

@media (prefers-color-scheme: dark) {
  :root {
    --purple-dark: #BEB1FF;
    --purple: #8979F2;
    --purple-light: #7357FF;
    --white: #1A1825;    
    --gray: #2A273A;
    --black: #F1EEFF;
  }
  html {
    color-scheme: dark;
  }
}

html, body {
  height: 100%;
  width: 100%;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}


@font-face {
  font-family: 'SN Pro';
  src: url('../public/assets/fonts/SNPro/SNPro-Book.woff2') format('woff2'),
       url('/fonts/SNPro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* opcionalmente, defina a fonte padrão do body */
body {
  font-family: 'SN Pro', sans-serif;
}